///////////////////////////////////////////////////////////
// Colors
///////////////////////////////////////////////////////////

$white:				#fff;
$black:				#000;
$gray:				#999999;
$dark-gray: 	#3e3e3e;
$light-gray: 	#e1e1e0;
$yellow: 			#f1b72e;

///////////////////////////////////////////////////////////
// Scrollbar
///////////////////////////////////////////////////////////

$scrollbar-track: 	$gray;
$scrollbar: 				$white;

///////////////////////////////////////////////////////////
// Fonts
///////////////////////////////////////////////////////////
$font-family:   'Georgia', 'Times New Roman', serif;
$century:       'Century Old Style Std', serif;
$tabletgothic:  'Tablet Gothic', sans-serif;
$sans-serif:    Arial, Helvetica, sans-serif;
$serif:         $century;

$font-path:   '../fonts' !default;


